@font-face {
	font-family: 'MavenProLight100';
	src: url("../fonts/mavenprolight-100.eot");
	src: url("../fonts/mavenprolight-100.eot") format("embedded-opentype"), url("../fonts/mavenprolight-100.woff") format("woff"), url("../fonts/mavenprolight-100.ttf") format("truetype"), url("../fonts/mavenprolight-100.svg#MavenProLight100") format("svg");
}

@font-face {
	font-family: 'MavenProLight300';
	src: url("../fonts/mavenprolight-300.eot");
	src: url("../fonts/mavenprolight-300.eot") format("embedded-opentype"), url("../fonts/mavenprolight-300.woff") format("woff"), url("../fonts/mavenprolight-300.ttf") format("truetype"), url("../fonts/mavenprolight-300.svg#MavenProLight300") format("svg");
}

body {
	background: url('../images/bg/pinstriped_suit.png');
}

h1, h2, h3, h4, h5 {
	color: #ccc;
	font-family: 'MavenProLight300';
	text-transform: uppercase;
}

a {
	color: #6d9700;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

a:hover {
	color: #96cf00;
}

/* Utility Classes */

	.clear { clear: both; }
	.nomarg { margin: 0; }
	.half { width: 50%; }
	.centered {
		display: block;
		margin: 0 auto;
	}
	.shadow.inset {
		-moz-box-shadow:    inset 0 0 10px #000;
		-webkit-box-shadow: inset 0 0 10px #000;
		box-shadow:         inset 0 0 10px #000;
	}
	.rotate {
		-webkit-animation-name:             rotate;
		-webkit-animation-duration:         3s;
		-webkit-animation-iteration-count:  infinite;
		-webkit-animation-timing-function:  linear;
	}
	.round-image img {
		border-radius: 300px;
		-webkit-border-radius: 300px;
		-moz-border-radius: 300px;
	}

/* Content */

	.box {
		color: #ccc;
		padding: 1rem;
		margin-top: 1rem;
		border: 1px solid #333;
		background: rgba(48, 48, 48, .7);
	}
	div.title {
		margin: 5rem 0;
	}
	div.title:hover i.fa {
		-webkit-animation-name:             pulse;
		-webkit-animation-duration:         3s;
		-webkit-animation-iteration-count:  infinite;
		-webkit-animation-timing-function:  linear;
	}
	.player img {
		float: left;
		max-height: 18px;
		margin: 0 14px 0 0;
	}

/* Foundation Addons */

	.off-canvas-wrap .inner-wrap {
		min-height: 900px;
	}

/* Font Awesome Addons */

	.fa-10x {
		font-size: 10em;
	}

/* Keyframes */

	@keyframes pulse {
		0% {
			opacity: 1;
		}
		50% {
			opacity: .2;
		}
		100% {
			opacity: 1;
		}
	}
	@-webkit-keyframes pulse {
		0% {
			opacity: 1;
		}
		50% {
			opacity: .2;
		}
		100% {
			opacity: 1;
		}
	}

/* Media Queries */

	/* Mobile */

		@media only screen and (max-width: 600px) {

		}

	/* Tablet */
		@media only screen and (max-width: 1020px) {

		}